$breakpoints: (
  // Double Extra small devices (mobile)
  xs: 375px,
  // Extra small devices (mobile)
  sm: 576px,
  // Small devices (mobile)
  md: 768px,
  // Medium devices (tablet)
  lg: 1024px,
  // Large devices (desktop)
  xl: 1220px,
  // Extra large devices (larger desktop)
  lx: 1440px,
  // Large medium devices (medium desktop)
  xxl: 1500px,
  // Double extra large devices
  xxxl: 1650px,
  // Triple extra large devices
  ultra: 1920px
);

@mixin media-up($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    $breakpoint-value: map-get($breakpoints, $breakpoint);

    @media (min-width: $breakpoint-value) {
      @content;
    }
  } @else {
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}

@mixin media-down($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    $breakpoint-value: map-get($breakpoints, $breakpoint);

    @media (max-width: ($breakpoint-value - 1)) {
      @content;
    }
  } @else {
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}

@mixin media-down-equal($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    $breakpoint-value: map-get($breakpoints, $breakpoint);

    @media (max-width: ($breakpoint-value)) {
      @content;
    }
  } @else {
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}
