:root {
	--main-white: #fff;
	--main-black: #000;

	--secondary-black: #121212;

	--gray: #1c242b;
	--gray-80: #56626f;
	--gray-70: #8e9aa7;
	--gray-50: #ced6dd;
	--gray-30: #f2f6ff;

	--blue: #2f5af4;
	--red: #f00;

	--main-gradient: linear-gradient(180deg, #bce8ff 0%, #ffffff 41.26%);
	--secondary-gradient: linear-gradient(180deg, #2f5af4 0%, #0fa2ab 100%);
}
