* {
	margin: 0;
	padding: 0;
	border: 0;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

a,
a:hover,
a:active {
	color: inherit;
}

nav,
footer,
header,
aside {
	display: block;
}

input,
button,
textarea {
	font-family: inherit;
	background: transparent;
}

input::-ms-clear {
	display: none;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
	appearance: none; // Yeah, yeah everybody write about it
}

input[type='number'],
input[type='number']:hover,
input[type='number']:focus {
	appearance: textfield;
	appearance: none;
}

button {
	cursor: pointer;
	line-height: 1;
	transition: all 0.2s;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
	font-style: normal;
	transition: all 0.2s;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

html {
	height: 100%;
	scroll-behavior: smooth;
}

body {
	height: 100%;
	font-family: var(--main-font);
	font-weight: var(--400);
}
